//variables
$website-width: 1280px;
$main-color: #48bfe3;
$light-color: #80ffdb;
$dark-color: #7400b8;
$medium-color: #56cfe1;
$bg-image: url("./img/showcase.jpg");

@function set-text-color($color) {
  @if (lightness($color) >50) {
    @return #000;
  } @else {
    @return #fff;
  }
}
