//Teblats
@media (max-width: 800px) {
  .header__home {
    position: relative;
    height: 30rem;

    .header__content {
      position: absolute;
      padding-top: 5rem;
      bottom: 10rem;
    }

    .header__content h1 {
      font-size: 2.5rem;
    }
  }
}

//smartphones

@media (max-width: 500px) {
  .header__nav {
    flex-direction: row;
    align-items: center;
    position: relative;

    .header__logo {
      margin-bottom: 21rem;
    }

    .header__content {
      position: absolute;
    }

    .header-links {
      display: none;
    }
    .burger {
      position: relative;
      display: flex;
      flex-direction: column;
      margin-top: 10px;
      height: 25rem;
      width: 20rem;

      z-index: 9999;

      &-container {
        position: absolute;
        padding-top: 1rem;
        width: 2rem;
        height: 2rem;
        left: 16rem;

        &-box {
          position: relative;
          margin-left: 6px;
          width: 2rem;
          height: 2rem;
          bottom: 0.5rem;
          right: 0.15rem;
        }
      }

      &-line {
        position: relative;
        border-top: 2.25px solid #fff;
        display: block;
        padding-top: 0.32rem;
        width: 1.3rem;

        &:nth-child(1) {
          transform: rotateZ(-45deg) translate(-6px, 9px);
        }

        &:nth-child(2) {
          opacity: 0;
        }

        &:nth-child(3) {
          transform: rotateZ(45deg) translate(-4px, -3px);
        }
      }

      &-menu {
        background: rgba(0, 0, 0, 0.3);
        height: 25rem;
        width: 25rem;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;

        &-links {
          margin-top: 3rem;
          padding: 1rem;
          display: block;
          color: white;
        }
      }
    }

    header {
      &__home {
        height: 10rem;
        border-bottom: 3px solid $main-color;
        background-position: 20% 30%;
      }
      .header__content h1 {
        font-size: 2rem;
      }

      &__inner {
        height: 10rem;
      }
    }

    .home-a .specials,
    .home-b .stats,
    .home-c .process,
    .about-d .testimonials,
    .contact-b .contact-info,
    .items {
      grid-template-columns: 1fr;
    }

    .home {
      &-a {
        .specials div {
          border-bottom: 1px $light-color solid;
          padding-bottom: 1rem;

          &:last-child {
            border: none;
            padding-bottom: 0;
          }
        }
      }

      &-b {
        .stats div {
          padding: 2rem 0 1rem 0;
        }
      }
    }

    .about {
      &-a {
        .info {
          grid-template-areas:
            "bioimage"
            "bio"
            "aw1"
            "aw2"
            "aw3";
        }
      }
      &-c {
        display: none;
      }
    }

    .contact {
      &-a {
        .text-fields {
          grid-template-areas:
            "name"
            "subject"
            "email"
            "phone"
            "message";
        }
      }

      &-b {
        div {
          margin-bottom: 1rem;
          padding-bottom: 1rem;
          border-bottom: 1px solid #555;

          &:last-child {
            border: none;
            margin-bottom: 0;
            padding-bottom: 0;
          }
        }
      }

      &-c {
        font-size: 2rem;
      }
    }

    .main-footer {
      height: 7rem;

      .footer-content {
        flex-direction: column;
        padding: 1rem;
        height: 1rem;
        height: 100%;
      }
    }
  }

  @media (max-height: 580px) {
    .header__home {
      .header__content {
        padding-top: 3rem;
      }
    }
  }

  @media (max-height: 330px) {
    .header__home {
      .header__content {
        h1 {
          font-size: 2rem;
        }
      }
    }
  }
}
