.header__container {
  max-width: 1280px;
  padding: 1.5rem;
  margin: auto;
  overflow: hidden;
}

.container {
  max-width: 1280px;
  padding: 1.5rem;
  margin: auto;
  overflow: hidden;
}

.btn__main, .btn__light, .btn__dark {
  display: inline-block;
  padding: 0.8rem;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  border: none;
  outline: none;
  cursor: pointer;
}

.btn__main {
  color: #333;
  background-color: #48bfe3;
}

.btn__light {
  color: #333;
  background-color: #80ffdb;
}

.btn__dark {
  color: #333;
  background-color: #7400b8;
}

.bg-main {
  background-color: #48bfe3;
  color: #000;
}

.bg-dark {
  background-color: #7400b8;
  color: #fff;
}

.bg-light {
  background-color: #80ffdb;
  color: #000;
}

.bg-medium {
  background-color: #56cfe1;
  color: #000;
}

.header__description {
  font-size: 1.3rem;
  margin-bottom: 2rem;
}

.lead {
  font-size: 1.3rem;
  margin-bottom: 2rem;
}

.text-center {
  text-align: center;
}

button[class^="btn__"]:hover,
a[class^="btn__"]:hover,
input[class^="btn__"]:hover {
  background-color: #48bfe3;
}

.py-1 {
  padding: 1rem 0;
}

.py-2 {
  padding: 2rem 0;
}

.py-3 {
  padding: 3rem 0;
}

.py-4 {
  padding: 4rem 0;
}

.my-1 {
  margin: 1rem 0;
}

.my-2 {
  margin: 2rem 0;
}

.my-3 {
  margin: 3rem 0;
}

.my-4 {
  margin: 4rem 0;
}

.section-title {
  font-size: 2rem;
  display: block;
  padding-bottom: 0.5rem;
  text-align: center;
  font-weight: 100;
  text-transform: uppercase;
}

.bottom-line {
  height: 2px;
  width: 3rem;
  background-color: #48bfe3;
  display: block;
  margin: 0 auto 1rem auto;
}

.items {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  -webkit-box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.3);
          box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.3);
  grid-gap: 0.2rem;
}

.item {
  position: relative;
  background-color: #48bfe3;
  overflow: hidden;
}

.item::after {
  content: "";
  position: absolute;
  display: block;
  background: inherit;
  opacity: 0.9;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transform: scale(2) translateX(-75%) translateY(-75%) rotate(-30deg);
          transform: scale(2) translateX(-75%) translateY(-75%) rotate(-30deg);
  -webkit-transition: -webkit-transform 3s cubic-bezier(0.2, 1, 0.3, 1);
  transition: -webkit-transform 3s cubic-bezier(0.2, 1, 0.3, 1);
  transition: transform 3s cubic-bezier(0.2, 1, 0.3, 1);
  transition: transform 3s cubic-bezier(0.2, 1, 0.3, 1), -webkit-transform 3s cubic-bezier(0.2, 1, 0.3, 1);
}

.item:hover:after {
  -webkit-transform: scale(2) translateX(0) translateY(0) rotate(-28deg);
          transform: scale(2) translateX(0) translateY(0) rotate(-28deg);
}

.item:hover .item-image {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.item:hover .item-text {
  opacity: 1;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.item-image {
  height: auto;
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
  display: block;
  -webkit-transition: -webkit-transform 750ms cubic-bezier(0.2, 1, 0.3, 1);
  transition: -webkit-transform 750ms cubic-bezier(0.2, 1, 0.3, 1);
  transition: transform 750ms cubic-bezier(0.2, 1, 0.3, 1);
  transition: transform 750ms cubic-bezier(0.2, 1, 0.3, 1), -webkit-transform 750ms cubic-bezier(0.2, 1, 0.3, 1);
}

.item-image:before {
  content: "";
  display: block;
  padding-top: 75%;
  overflow: hidden;
}

.item-image img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  line-height: 0;
}

.item-text {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  opacity: 0;
  text-align: center;
  z-index: 1;
  color: #fff;
  -webkit-transform: translateY(-20%);
          transform: translateY(-20%);
  -webkit-transition: opacity 500ms cubic-bezier(0.2, 1, 0.3, 1), -webkit-transform 500ms cubic-bezier(0.2, 1, 0.3, 1);
  transition: opacity 500ms cubic-bezier(0.2, 1, 0.3, 1), -webkit-transform 500ms cubic-bezier(0.2, 1, 0.3, 1);
  transition: opacity 500ms cubic-bezier(0.2, 1, 0.3, 1), transform 500ms cubic-bezier(0.2, 1, 0.3, 1);
  transition: opacity 500ms cubic-bezier(0.2, 1, 0.3, 1), transform 500ms cubic-bezier(0.2, 1, 0.3, 1), -webkit-transform 500ms cubic-bezier(0.2, 1, 0.3, 1);
  -webkit-transition: delay(300ms);
  transition: delay(300ms);
}

.item-text-wrap {
  width: 100%;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.item-text-title {
  font-size: 2rem;
  padding: 0 1rem;
  margin: 5px 0 0 0;
}

.item-text-category {
  text-transform: uppercase;
  font-size: 1.2rem;
  opacity: 0.7;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Dosis", sans-serif;
  line-height: 1.6;
  background: #fff;
}

a {
  text-decoration: none;
  color: #7400b8;
}

ul {
  list-style: none;
}

h2,
h3,
h4 {
  text-transform: uppercase;
}

img {
  width: 100%;
}

.header__logo {
  width: 70px;
  height: 70px;
  color: #fff;
  text-transform: uppercase;
}

.header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 1rem;
}

.header__nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__nav li {
  padding: 1rem 1.5rem;
}

.header__nav a {
  color: #fff;
  text-transform: uppercase;
  border-bottom: 3px transparent solid;
  padding-bottom: 0.5rem;
  -webkit-transition: border-color 0.5s;
  transition: border-color 0.5s;
}

.header__nav a:hover {
  border-color: #56cfe1;
}

.header__nav a.current {
  border-color: #48bfe3;
}

.header__nav .burger-menu-links {
  display: none;
}

.header__home {
  background: url("./img/showcase.jpg") no-repeat center right/cover;
  height: 100vh;
  color: #fff;
}

.header__content {
  text-align: center;
  padding-top: 20%;
}

.header__content h1 {
  font-size: 4rem;
  line-height: 1.2;
}

.header__inner {
  background: url("./img/showcase.jpg") no-repeat 20% 30%/cover;
  height: 7rem;
  border-bottom: 3px solid #48bfe3;
}

.home-a .specials {
  margin-top: 3rem;
  display: -ms-grid;
  display: grid;
  grid-gap: 1rem;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
}

.home-a .specials .fas {
  color: #48bfe3;
  padding-bottom: 0.4rem;
}

.home-b .stats {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
}

.home-b .stats li {
  line-height: 2;
}

.home-b .stats li.stats-title {
  font-size: 1.5rem;
}

.home-b .stats li.stats-number {
  font-size: 2rem;
  font-weight: bold;
}

.home-b .stats div {
  padding: 3rem 0;
}

.home-b .stats div:nth-child(odd) {
  background-color: #80ffdb;
}

.home-b .stats div:nth-child(even) {
  background-color: #56cfe1;
}

.home-c .process {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  grid-gap: 1.5rem;
  text-align: center;
}

.home-c .process-step {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 24px;
  margin-bottom: 22px;
  background-color: #48bfe3;
  border-radius: 50%;
  height: 15px;
  width: 15px;
  line-height: 0px;
  padding: 1rem;
  -webkit-transition: all 1s;
  transition: all 1s;
}

.home-c .process-icon {
  border-radius: 50%;
  background-color: #7400b8;
  color: #fff;
  padding: 1rem;
  width: 70px;
  height: 70px;
  line-height: 50px;
  text-align: center;
  position: relative;
  -webkit-transition: all 1s;
  transition: all 1s;
}

.home-c .process-icon:hover {
  background-color: #48bfe3;
  width: 80px;
  height: 80px;
  line-height: 80px;
}

.home-c .process-icon:hover .process-step {
  background-color: #7400b8;
}

.about-a .about-info {
  display: -ms-grid;
  display: grid;
      grid-template-areas: "bioimage bio bio" "aw1 aw2 aw3";
  grid-gap: 1.2rem;
}

.about-a .bio-image {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: bioimage;
}

.about-a .bio {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-area: bio;
  border-left: 3px solid #48bfe3;
  padding: 0.8rem;
}

.about-a .award-1 {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: aw1;
}

.about-a .award-2 {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: aw2;
}

.about-a .award-3 {
  -ms-grid-row: 2;
  -ms-grid-column: 3;
  grid-area: aw3;
}

.about-a .award-1 .fas,
.about-a .award-2 .fas,
.about-a .award-3 .fas {
  color: #48bfe3;
  margin: 1rem;
}

.about-b .progress {
  overflow: hidden;
  height: 20px;
  background-color: #56cfe1;
  border-radius: 5px;
  margin-bottom: 0.3rem;
}

.about-b .progress div {
  height: 100%;
  color: #fff;
  text-align: center;
  background-color: #48bfe3;
}

.about-c .about-logos {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  grid-gap: 2rem;
}

.about-c .about-logos img {
  width: 70%;
}

.about-d .testimonials {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  grid-gap: 0.5rem;
}

.about-d .testimonials ul {
  list-style: none;
  margin-top: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about-d .testimonials p {
  border: 1px solid #56cfe1;
  border-radius: 5px;
  padding: 0.5rem;
}

.about-d .testimonials img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 0.5rem;
}

.contact-a .text-fields {
  display: -ms-grid;
  display: grid;
      grid-template-areas: "name email" "subject phone" "message message";
  grid-gap: 1.2rem;
  margin-bottom: 1.2rem;
}

.contact-a .text-fields .name-input {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: name;
}

.contact-a .text-fields .subject-input {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: subject;
}

.contact-a .text-fields .email-input {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: email;
}

.contact-a .text-fields .phone-input {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: phone;
}

.contact-a .text-fields .message-input {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: message;
  height: 100px;
}

.contact-a .text-fields .text-input {
  padding: 0.5rem 1rem;
}

.contact-a button[type="submit"] {
  width: 30%;
  color: #fff;
  font-size: 1.3rem;
}

.contact-b .contact-info {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  text-align: center;
}

.contact-c h1 {
  text-align: center;
  font-size: 4rem;
}

.main-footer {
  background-color: #7400b8;
  color: #fff;
  height: 5rem;
}

.main-footer .footer-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 5rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-footer .footer-content .social .fab {
  margin-right: 1rem;
  border: 2px #fff solid;
  border-radius: 50%;
  height: 35px;
  width: 35px;
  line-height: 32px;
  text-align: center;
  -webkit-transition: all 1s;
  transition: all 1s;
}

.main-footer .footer-content .social .fab:hover {
  background-color: #48bfe3;
  height: 40px;
  width: 40px;
  line-height: 32px;
  -webkit-transition: all 1s;
  transition: all 1s;
}

@media (max-width: 800px) {
  .header__home {
    position: relative;
    height: 30rem;
  }
  .header__home .header__content {
    position: absolute;
    padding-top: 5rem;
    bottom: 10rem;
  }
  .header__home .header__content h1 {
    font-size: 2.5rem;
  }
}

@media (max-width: 500px) {
  .header__nav {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: relative;
  }
  .header__nav .header__logo {
    margin-bottom: 21rem;
  }
  .header__nav .header__content {
    position: absolute;
  }
  .header__nav .header-links {
    display: none;
  }
  .header__nav .burger {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 10px;
    height: 25rem;
    width: 20rem;
    z-index: 9999;
  }
  .header__nav .burger-container {
    position: absolute;
    padding-top: 1rem;
    width: 2rem;
    height: 2rem;
    left: 16rem;
  }
  .header__nav .burger-container-box {
    position: relative;
    margin-left: 6px;
    width: 2rem;
    height: 2rem;
    bottom: 0.5rem;
    right: 0.15rem;
  }
  .header__nav .burger-line {
    position: relative;
    border-top: 2.25px solid #fff;
    display: block;
    padding-top: 0.32rem;
    width: 1.3rem;
  }
  .header__nav .burger-line:nth-child(1) {
    -webkit-transform: rotateZ(-45deg) translate(-6px, 9px);
            transform: rotateZ(-45deg) translate(-6px, 9px);
  }
  .header__nav .burger-line:nth-child(2) {
    opacity: 0;
  }
  .header__nav .burger-line:nth-child(3) {
    -webkit-transform: rotateZ(45deg) translate(-4px, -3px);
            transform: rotateZ(45deg) translate(-4px, -3px);
  }
  .header__nav .burger-menu {
    background: rgba(0, 0, 0, 0.3);
    height: 25rem;
    width: 25rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  .header__nav .burger-menu-links {
    margin-top: 3rem;
    padding: 1rem;
    display: block;
    color: white;
  }
  .header__nav header__home {
    height: 10rem;
    border-bottom: 3px solid #48bfe3;
    background-position: 20% 30%;
  }
  .header__nav header .header__content h1 {
    font-size: 2rem;
  }
  .header__nav header__inner {
    height: 10rem;
  }
  .header__nav .home-a .specials,
  .header__nav .home-b .stats,
  .header__nav .home-c .process,
  .header__nav .about-d .testimonials,
  .header__nav .contact-b .contact-info,
  .header__nav .items {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .header__nav .home-a .specials div {
    border-bottom: 1px #80ffdb solid;
    padding-bottom: 1rem;
  }
  .header__nav .home-a .specials div:last-child {
    border: none;
    padding-bottom: 0;
  }
  .header__nav .home-b .stats div {
    padding: 2rem 0 1rem 0;
  }
  .header__nav .about-a .info {
        grid-template-areas: "bioimage" "bio" "aw1" "aw2" "aw3";
  }
  .header__nav .about-c {
    display: none;
  }
  .header__nav .contact-a .text-fields {
        grid-template-areas: "name" "subject" "email" "phone" "message";
  }
  .header__nav .contact-b div {
    margin-bottom: 1rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid #555;
  }
  .header__nav .contact-b div:last-child {
    border: none;
    margin-bottom: 0;
    padding-bottom: 0;
  }
  .header__nav .contact-c {
    font-size: 2rem;
  }
  .header__nav .main-footer {
    height: 7rem;
  }
  .header__nav .main-footer .footer-content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 1rem;
    height: 1rem;
    height: 100%;
  }
}

@media (max-width: 500px) and (max-height: 580px) {
  .header__home .header__content {
    padding-top: 3rem;
  }
}

@media (max-width: 500px) and (max-height: 330px) {
  .header__home .header__content h1 {
    font-size: 2rem;
  }
}
/*# sourceMappingURL=style.css.map */